{% extends "t_admin/base.html" %}

{% block konten %}

  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-md-12">
        <h4>Komoditi</h4>
      </div>
    </div>
    <div class="row">
        <div class="col-md-5 mb-3">
          <div class="card h-100">
            <div class="card-header">
              <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
              Ubah Komoditi
            </div>
            <div class="card-body">
                <form method="POST">
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        {{form.nama_komoditi.label(class="form-control-label")}}
                        {% if form.nama_komoditi.errors %}
                            {{form.nama_komoditi(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in form.nama_komoditi.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{form.nama_komoditi(class="form-control")}}
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{form.satuan.label(class="form-control-label")}}
                        {% if form.satuan.errors %}
                            {{form.satuan(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in form.satuan.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{form.satuan(class="form-control")}}
                        {%endif%}
                    </div>
                    <div class="form-group">
                        {{form.kategoriid.label(class="form-control-label")}}
                        {% if form.kategoriid.errors %}
                            {{form.kategoriid(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in form.kategoriid.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{form.kategoriid(class="form-control")}}
                        {%endif%}
                    </div>
                    <div class="form-group mb-5">
                        {{form.ket.label(class="form-control-label")}}
                        {% if form.ket.errors %}
                            {{form.ket(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in form.ket.errors %}
                                <span>{{error}}</span>
                                {% endfor %}
                            </div>
                        {%else%}
                            {{form.ket(class="form-control")}}
                        {%endif%}
                    </div>
                    <div class="form-group d-grid gap-2 col-4 mx-auto">
                        {{form.submit(class="btn btn-warning")}}
                        <a class="btn btn-secondary" href="{{url_for('radmin.komoditi')}}">Kembali</a>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
  </div>

{% endblock %}