{% extends "t_admin/base.html" %}

{% block konten %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>Dashboard</h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 mb-3 wow bounceIn" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="card bg-primary text-white h-100 shadow">
          <div class="card-body py-5">DATA HARGA BAPOKTING <br><h1>{{hargakomoditi}}</h1></div>
        </div>
      </div>
      <div class="col-md-3 mb-3 wow bounceIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
        <div class="card bg-warning text-dark h-100 shadow">
          <div class="card-body py-5">DATA STOK BAPOK <br><h1>{{stokbapok}}</h1></div>
        </div>
      </div>
      <div class="col-md-3 mb-3 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.5s">
        <div class="card bg-success text-white h-100 shadow">
          <div class="card-body py-5">DATA KOMODITI <br><h1>{{komoditi}}</h1></div>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Data Harga BAPOKTING
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table table-striped data-table" style="width: 100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tahun</th>
                    <th>Bulan</th>
                    <th>Minggu Ke</th>
                    <th>Kategori</th>
                    <th>Komoditi</th>
                    <th>Harga</th>
                    <th>Ket</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Tahun</th>
                    <th>Bulan</th>
                    <th>Minggu Ke</th>
                    <th>Kategori</th>
                    <th>Komoditi</th>
                    <th>Harga</th>
                    <th>Ket</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for dtrhargakomoditi in data%}
                  <tr>
                    <td>{{dtrhargakomoditi.id_hargakom}}</td>
                    <td>{{dtrhargakomoditi.tahun}}</td>
                    <td>{{dtrhargakomoditi.bulan}}</td>
                    <td>{{dtrhargakomoditi.minggu}}</td>
                    <td>{{dtrhargakomoditi.hkategori.nama_jenis}}</td>
                    <td>{{dtrhargakomoditi.hkomoditi.nama_komoditi}}</td>
                    <td>{{dtrhargakomoditi.harga}}</td>
                    <td>{{dtrhargakomoditi.ket}}</td>
                  </tr>
                  {% endfor %}
                </tbody>  
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}