{% extends "t_admin/base.html" %}

{% block konten %}

  <div class="container-fluid">
    <div class="row mb-4">
      <div class="col-md-12">
        <h4>Rekap Stok BAPOK</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-header">
            <span><i class="bi bi-table me-2"></i></span> Data Stok BAPOK
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="example" class="table table-striped data-table" style="width: 100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tahun</th>
                    <th>Bulan</th>
                    <th>Minggu</th>
                    <th>Kategori</th>
                    <th>Komoditi</th>
                    <th>Pasokan Oba</th>
                    <th>Pasokan Tidore</th>
                    <th>Total Pasok</th>
                    <th>Stok Oba</th>
                    <th>Stok Tidore</th>
                    <th>Total Stok</th>
                    <th>Harga Jual</th>
                    <th colspan="2">Per</th>
                    <th>Asal Pasok</th>
                    <th>Ket</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Tahun</th>
                    <th>Bulan</th>
                    <th>Minggu</th>
                    <th>Kategori</th>
                    <th>Komoditi</th>
                    <th>Pasokan Oba</th>
                    <th>Pasokan Tidore</th>
                    <th>Total Pasok</th>
                    <th>Stok Oba</th>
                    <th>Stok Tidore</th>
                    <th>Total Stok</th>
                    <th>Harga Jual</th>
                    <th colspan="2">Per</th>
                    <th>Asal Pasok</th>
                    <th>Ket</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for dtrstokbapok in data%}
                  <tr>
                    <td>{{dtrstokbapok.id_stokbapok}}</td>
                    <td>{{dtrstokbapok.tahun}}</td>
                    <td>{{dtrstokbapok.bulan}}</td>
                    <td>{{dtrstokbapok.minggu}}</td>
                    <td>{{dtrstokbapok.skategori.nama_jenis}}</td>
                    <td>{{dtrstokbapok.skomoditi.nama_komoditi}}</td>
                    <td>{{dtrstokbapok.pasokan_oba}}</td>
                    <td>{{dtrstokbapok.pasokan_tidore}}</td>
                    <td>{{dtrstokbapok.total_pasok}}</td>
                    <td>{{dtrstokbapok.stok_oba}}</td>
                    <td>{{dtrstokbapok.stok_tidore}}</td>
                    <td>{{dtrstokbapok.total_stok}}</td>
                    <td>{{dtrstokbapok.harga_jual}}</td>
                    <td>{{dtrstokbapok.per}}</td>
                    <td>{{dtrstokbapok.skomoditi.satuan}}</td>
                    <td>{{dtrstokbapok.asal_pasok}}</td>
                    <td>{{dtrstokbapok.ket}}</td>
                  </tr>
                  {% endfor %}
                </tbody>  
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}