{% extends "t_user/base.html" %}

{% block konten %}

<br><br><br><br><br><br>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <!-- <img src="{{url_for('static', filename='s_user/t1/assets/images/about-left-image.png')}}" alt=""> -->
                <img src="{{url_for('static', filename='s_user/t1/assets/images/hero.png')}}" alt="" style="width: 100%;">
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="align-self-center wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
                <div class="section-heading">
                  <h3 class="tebel-sedang judul1">Dinas Perindustrian Perdagangan Koperasi dan UKM</h3>
              </div>
                <div class="align-self-center wow fadeInRight" data-wow-duration="3s" data-wow-delay="0.5s">
                  <div class="hr"></div>
                </div>
                </div>
                <br>
                <div class="align-self-center wow fadeInRight" data-wow-duration="2.5s" data-wow-delay="0.5s">
                  <p><strong class="judul2">Pada Era Pemekaran Kabupaten Halmahera Tengah</strong> yang beranak pinak terbentuknya <strong class="judul1">Kota Tidore Kepulauan</strong> dan Kabupaten Halmahera Timur sebagai Daerah Otonomi Baru berdasarkan <strong class="judul2">Undang-Undang Nomor 1 Tahun 2003 tentang Pembentukan</strong> Kabupaten Halmahera Utara, Kabupaten Halmahera Selatan, Kabupaten Kepulauan Sula, Kabupaten Halmahera Timur dan <strong class="judul1">Kota Tidore Kepulauan di Propinsi Maluku Utara.</strong> Dimana Dinas Perindustrian dan Perdagangan, serta Dinas Koperasi dan UKM yang pada Pemerintahan Kabupaten Halmahera Tengah masing-masing berdiri sendiri, namun pada Pemerintahan Kota Tidore Kepulauan ketiga urusan pemerintahan tersebut digabungkan ke dalam 1 OPD dengan nomenklatur <strong class="judul1">Dinas Perindustrian, Perdagangan, Koperasi, Usaha Kecil dan Menengah Kota Tidore Kepulauan.</strong></p>
                </div>
            </div>
            </div>
        </div>
        <div class=" container-fluid bg-warning">
            <marquee behavior="alternate" direction="">
                <strong class="judul1">Visi : </strong>Terwujudnya peran pelaku ekonomi rakyat sebagai penopang kemandirian Kota Tidore Kepulauan sebagai Kota jasa berbasis Agro Marine.</marquee>
            <marquee behavior="" direction="">
                <strong class="judul1">Misi : </strong>1) Menciptakan iklim usaha yang kondusif dan kepastian hukum dalam berusaha bagi pelaku ekonomi rakyat. 2) Memperkokoh kedudukan koperasi sebagai badan hukum yang sehat, kuat, mandiri, dan tangguh. 3) Memberdayakan dan mengembangkan usaha mikro. 4) Meningkatkan kegiatan Perdagangan dan perlindungan konsumen. 5) Menumbuhkan dan mengembangkan industri kecil dan menengah. 6) Mewujudkan tata kelola pemerintahan yang baik.
            </marquee>
        </div>

{% endblock %}