{% extends "t_user/base.html" %}

{% block konten %}

<br><br><br><br><br><br>
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <!-- <img src="{{url_for('static', filename='s_user/t1/assets/images/about-left-image.png')}}" alt=""> -->
                <img src="{{url_for('static', filename='s_user/t1/assets/images/hero.png')}}" alt="" style="width: 100%;">
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="align-self-center wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
                <div class="section-heading">
                  <h3 class="tebel-sedang judul1">Dinas Perindustrian Perdagangan Koperasi dan UKM</h3>
              </div>
                <div class="align-self-center wow fadeInRight" data-wow-duration="3s" data-wow-delay="0.5s">
                  <div class="hr"></div>
                </div>
                </div>
                <div class="align-self-center wow fadeInRight" data-wow-duration="2.5s" data-wow-delay="0.5s">
                  <p><strong class="judul2"><strong class="judul1">Kota Tidore Kepulauan</strong> dan Kabupaten Halmahera Timur sebagai Daerah Otonomi Baru berdasarkan <strong class="judul1">Undang-Undang Nomor 1 Tahun 2003 tentang Pembentukan</strong> Kabupaten Halmahera Utara, Kabupaten Halmahera Selatan, Kabupaten Kepulauan Sula, Kabupaten Halmahera Timur dan <strong class="judul1">Kota Tidore Kepulauan di Propinsi Maluku Utara.</strong> Dimana Dinas Perindustrian dan Perdagangan, serta Dinas Koperasi dan UKM yang pada Pemerintahan Kabupaten Halmahera Tengah masing-masing berdiri sendiri, namun pada Pemerintahan Kota Tidore Kepulauan ketiga urusan pemerintahan tersebut digabungkan ke dalam 1 OPD dengan nomenklatur <strong class="judul1">Dinas Perindustrian, Perdagangan, Koperasi, Usaha Kecil dan Menengah Kota Tidore Kepulauan.</strong></p>
                </div>
            </div>
            </div>
        </div>
        <div class=" container-fluid mt-4">
            <marquee behavior="" direction="" class="marquee-bg">
              <p class="pt-2"><strong class="judul1">Jangan sampai ketinggalan Informasi Terbaru
                dari Bidang Fasilitasi dan Sarana Pasar,
                Harga dan Stok BAPOKTING Kota Tidore
                Kepulauan, yang akan di UPDATE SETIAP MINGGU 
                pada HARI JUMAT.</strong></p>
            </marquee>
        </div>

{% endblock %}